[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
coverage = "*"
pre-commit = "*"

[packages]
django = "*"
gunicorn = "*"
django-heroku="*"
chatterbot = "*"
djangorestframework = "*"
chatterbot-corpus = {git = "https://github.com/gunthercox/chatterbot-corpus.git"}
graphene-django = "*"

[requires]
python_version = "3.6"
